/* CSS HEX */

:root {
    --background-primary: white;
    --background-secondary: #f5f5f7;
    --color-primary: black;
    --color-secondary: #232323;
    --color-muted: #6c757d;
    --color-footer: #86868b;
    --color-link: #0070c9;
    --nav-color: #f5f5f7;
    --nav-background: rgba(0, 0, 0, 0.8);
    --card-background: white;
    --card-hover-background: #f3f3f3;
    --btn-primary: #0071e3;
    --card-border: black;
    --background-light: #f8f9fa;
}

@media (prefers-color-scheme: dark) {
    :root {
        --russian-violet: #0c0032ff;
        --navy-blue: #190061ff;
        --duke-blue: #240090ff;
        --medium-blue: #3500d3ff;
        --eerie-black: #282828ff;
        --background-primary: black;
        --background-secondary: #232323;
        --color-primary: white;
        --color-secondary: #dddddd;
        --card-background: black;
        --card-hover-background: rgb(73, 73, 73);
        --btn-primary: #0056ac;
        --card-border: white;
        --color-muted: #929292;
    }

    .icon {
        filter: invert(1);
    }
}

.text-muted {
    color: var(--color-muted) !important;
}

html,
body {
    min-height: 100vh;
    background-color: var(--background-primary);
    color: var(--color-primary);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    color: var(--color-link);
}

nav {
    background-color: var(--nav-background);
    color: var(--nav-color);
}

nav ul a {
    font-size: 14px;
    opacity: .8;
    color: inherit;
    transition: 0.3s opacity ease;
    padding: 5px;
    font-weight: 400;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

body>nav ul img.logo {
    height: 30px;
    filter: invert(1);
}

nav ul a:hover {
    color: inherit;
    text-decoration: none;
    opacity: 1;
}

nav ul a.active {
    opacity: .56;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

body>.content {
    background-color: var(--background-primary);
    color: var(--color-primary);
    flex: 1;
}

footer {
    padding: 10px 0;
}

footer ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.theme-fig-right .logo {
    width: 50%;
}

.wrapper {
    display: flex;
}

.wrapper.theme-fig-right {
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
}

.module-content {
    padding: 20px;
    margin: 20px auto;
    background-color: var(--background-secondary);
    width: 100%;
}

.module-content>.placeholder {
    min-height: 5cm;
    text-align: center;
}

.module-content .theme-fig-right>div {
    margin-right: 10px;
}

.logo-text {
    font-variant: small-caps;
    text-decoration: underline;
}

h1+h3 {
    color: var(--color-secondary);
}

.btn-outline {
    border-color: var(--color-secondary);
    color: var(--color-secondary);
}

.btn-outline:hover {
    color: var(--background-secondary);
    background-color: var(--color-secondary);
}

.headline {
    font-size: 2em;
    font-weight: 600;
}

.subhead {
    font-size: 1.3em;
}

hr {
    border: 0;
    clear: both;
    display: block;
    width: 96%;
    background-color: #d2d2d7;
    height: 1px;
}

@media (max-width: 560px) {
    .flex-responsive {
        flex-direction: column;
    }
}

.legal p {
    color: var(--color-secondary);
}

footer {
    color: var(--color-footer);
    background-color: var(--background-secondary);
}

.links-legal li {
    padding-right: 7px;
    margin-right: 7px;
    border-right: #d2d2d7 1px solid;
}

.links-legal li:last-child {
    border-right: none;
}

footer a {
    /* color: #515154; */
    color: var(--color-secondary);
    text-decoration: none;
}

/* .links-legal li:after{
  content: "|";
  margin: 0 2px;
}

.links-legal li:last-child::after{
  content: "";
} */

.more::after {
    content: "  >";
}

/* Breadcrumb */
.breadcrumb {
    background-color: transparent;
}

/* Forms */
input.form-control,
select.custom-select {
    border-radius: 0.8rem;
}

.form-group {
    /* display: flex; */
}

.form-group>.text-muted {
    margin-left: 5px;
}

.login h1,
.register h1 {
    font-size: 3rem;
}

form input.form-control,
/* form input.form-control[type="submit"],
form input.form-control[type="date"], */
form select.custom-select {
    /* font-size: 1.2rem; */
    padding: 12px;
    height: auto;
}

div.error {
    color: red;
    font-weight: 400;
    display: block;
    font-size: 0.8rem;
    margin-left: 5px;
}

.form-control.error {
    border-color: red;
}

.login a {
    font-size: 1rem;
    margin: 10px 0;
}

.btn,
.alert {
    border-radius: 0.8rem;
}

.btn-primary {
    background-color: var(--btn-primary);
    border: var(--btn-primary);
}

/* Hub */
.plate{
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    border: solid 1px;
}

.card-plate {
    height: 100px;
    width: 100%;
    text-align: left;
    background-color: var(--card-background);
    margin: 10px;
    transition: 0.15s ease background-color;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px grey;

}

.active .card-plate{
    box-shadow: 0px 0px 5px grey;
}

.card-plate-new {
    border-width: 2px !important;
    border-style: dashed !important;
}

.card-plate:hover {
    background-color: var(--card-hover-background) !important;
    color: inherit;
}

.card-plate .icon {
    height: 30px;
    /* opacity: .5; */
}

.card-plate p {
    margin: 0;
    color: var(--color-secondary);
}

.cards{
    overflow-x: scroll;
    width: 100%;
}
.cards .card-plate,
.cards .card-plate-new{
    width: 237px !important;
    height: 150px;
}
.cards .btn{
    padding: 15px;
}
.bg-light{
    background-color: var(--background-light) !important;
}

/* Sidebar */
.sidebar {
    background-color: var(--background-secondary);

    width: 25%;
    /* width: 250px; */
    /* border-right: solid black 1px; */
    padding: 20px;
}
.sidebar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.cards>.btn{
    text-
}